body {
  background: linear-gradient(to left, #f80759, #bc4e9c);
}

a:link {
  text-decoration: none;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  text-align: center;
  background-color: #333333;
}

#main-title {
  text-align: center;
  padding: 10px 0px 10px 0px;
  color: whitesmoke;
  font-size: 60px;
}