body {
  background: linear-gradient(to left, #f80759, #bc4e9c);
}

a:link {
  text-decoration: none;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  text-align: center;
  background-color: #333333;
}

#main-title {
  text-align: center;
  padding: 10px 0px 10px 0px;
  color: whitesmoke;
  font-size: 60px;
}

.board {
  width: 30%;
  background-color: floralwhite;
  float: left;
  margin: 5px;
  padding: 20px 20px;
  margin-top: 15px;
  border-radius: 20px;
  margin-bottom: 150px;

}

.board-title {
  background-color: salmon;
  border-radius: 20px;
  text-align: center;
  padding: 40px;
  margin-bottom: 15px;
  font-weight: 800;
  font-size: 20px;
}

.board-content-wrapper {
  padding: 5% 10%;
}