@import url(//cdn.rawgit.com/hiun/NanumSquare/master/nanumsquare.css);

body {
	background-color: #f6f6f6;
}
#mainHeader {
	text-align: center;
	margin-top: 40px;
	margin-bottom: 30px;
}
#headerTitle {
	font-size: 45px;
	font-weight: lighter;
	color: #ffa9a9;
	margin-bottom: 25px;
	font-family: 'Nanum Square';
}
#headerContent {
	display: flex;
	justify-content: center;
}
#addTodo {
	font-size: 17px;
	padding-left: 15px;
	width: 450px;
	margin-right: 0px;
	outline: none;
	height: 51px;
	font-weight: lighter;
	border: #d6d6d6 1px solid;
}
::placeholder {
	color: rgb(190, 190, 190);
}
#addButton {
	background-color: #eaeaea;
	font-size: 17px;
	width: 57px;
	height: 55px;
	outline: none;
	border: none;
	cursor: pointer;
}
.todos {
	display: inline-block;
	background-color: white;
	width: 25%;
	margin-left: 15px;
	margin-right: 15px;
}
#todos-section {
	text-align: center;
}
.todos-title {
	font-family: 'Nanum Square';
	text-align: left;
	padding: 10px 0 10px 10px;
	font-weight: bold;
}
