* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
    background-color: transparent;
}

header {
    display: flex;
    background-color: #40A35B;
    width: 100%;
    height: auto;
    justify-content: space-between;
    margin-bottom: 3rem;
}

#header-value {
    margin-left: 5%;
    color: #D9ECDE;
    font-size: 30px;
}

#logout-button {
    background: transparent;
	color: white;
	border: none;
	padding: 0;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    margin-right: 30px;
}
body {
    background-color: rgb(75, 191, 107);
    height: 100vh;
}

#list-box-wrapper {
    display: flex;
    justify-content: space-around;
}

.list-box {
    width: 280px;
    max-height: calc(100vh - 35px - 3rem);
    background-color: #DFE1E6;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 5px; margin-right: 5px;
    align-self: start;
}

.list-box-header {
    font-size: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    padding: 5px;
}

.open-add-form-link {
    color: grey;
    margin: 5px;
    padding-left: 10px;
}

.writing-item-box {
    width: 232px;
    height: 58px;
    margin: 0 8px 8px 8px;
    padding: 6px 8px 2px 8px;
    border-radius: 3px;
    background-color: #fff;
}

textarea {
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    width: 232px;
    height: 54px;
    font-size: 14px;
}

.add-button {
    margin: 0 0 16px 8px;
    font-size: 14px;
    border-radius: 3px;
    width: 88px;
    height: 32px;
    background-color: #5aac44;
    box-shadow: 0 1px 0 0 #3f6f21;
    color: #fff;
    font-weight: 700;
    border: none;
    cursor: pointer;
}

.add-button-form {
    display: flex;
}

.item {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(9, 30, 66, .25);
    padding: 6px 8px 6px;
    margin: 0 8px 8px 8px;
    font-size: 14px;
    cursor: pointer;
}

.list-area {
    overflow: scroll;
}