.hide {
    display: none;
}

body {
    user-select: none;
    background: #E0E0D8;
    margin: 0;
}

.title{
    font-family: 'Black Han Sans';
    color : white;
    background : #606F82;
    padding: 10px 10px 10px 20px ;
    font-weight: bold; 
    font-size: 20px;

}

.section{
    width: 270px;
    background: #C8C2B6;
    margin : 10px;
    text-align: center;
}

main{
    padding-left: 10px;
    padding-top: 10px;
    display: flex;
    align-items: flex-start;

}