* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    position: relative;
    height: 100vh;
    overflow: hidden;
}

#loginImg {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    z-index: -1;
}

.loginWindow {
    position: absolute;
    width: 250px;
    height: 100vh;
    top: 0;
    transition: transform 1s ease 0.3s;
    transform: translateX(-200px);
}

.loginWindow:hover {
    transition: transform 1s ease 0.3s;
    transform: translateX(0px);
}

.loginWindowActive {
    transform: translateX(0px);
}

fieldset {
    width: 200px;
}

#note {
    border: 2px solid black;
    background-color: #aaffff;
    opacity: 0.7;
    position: absolute;
    width: 100vw;
    height: 100px;
    font-size: 3rem;
    text-align: center;
    top: 0;
    transition: transform 1s ease 0.3s;
    transform: translateY(-80px);
}

#note:hover {
    transition: transform 1s ease 0.3s;
    transform: translateY(0px);
}

#mountainImg {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}

header {
    position: relative;
    display: flex;
    justify-content: center;
}

h1 {
    font-family: 'Pacifico', cursive;
    color: white;
    font-size: 2.5em;
}

article {
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

#container {
    width: 80vw;
    height: 70vh;
    display: flex;
    justify-content: space-around;
}

.status {
    border: 2px solid rgb(247, 208, 136);
    border-top-right-radius: 27px;
    border-bottom-right-radius: 27px;
    border-top-left-radius: 27px;
    border-bottom-left-radius: 27px;
    list-style: none;
    height: 70vh;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 2em;
    border-top-right-radius: 27px;
    border-bottom-right-radius: 27px;
    border-top-left-radius: 27px;
    border-bottom-left-radius: 27px;
    background-image: linear-gradient(to right, #cff5a4, #8aee7c);
    height: 55px;
    /* width: 100%; */
    width: 25vw;
}

.memoNote {
    resize: none;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 55px;
    width: 100%;
    border-top-right-radius: 27px;
    border-bottom-right-radius: 27px;
    border-top-left-radius: 27px;
    border-bottom-left-radius: 27px;
    text-align: center;
    overflow: visible;
}

.memo {
    height: auto;
    width: 100%;
}

#trashCan {
    position: absolute;
    bottom: 7vh;
    right: 2vw;
    width: 10vw;
    height: 15vh;
}

.add {
    margin: 10px;
    background: #8aee7c;
    height: 30px;
    position: relative;
    width: 6px;
}

.add:after {
    background: #8aee7c;
    content: "";
    height: 6px;
    left: -12px;
    position: absolute;
    top: 12px;
    width: 30px;
}

#username,
#password,
#loginBtn,
#signUpBtn {
    width: 100%;
    height: 20%;
    margin-top: 2%;
    margin-bottom: 2%;
    border-top-right-radius: 27px;
    border-bottom-right-radius: 27px;
    border-top-left-radius: 27px;
    border-bottom-left-radius: 27px;
    text-align: center;
}

#loginBtn {
    background-image: linear-gradient(to right, #cff5a4, #8aee7c);
    transition: background-image 0.25s linear 0.25s;
    cursor: pointer;
}

#loginBtn:hover {
    background-image: linear-gradient(to right, #ccf5f5, #8feeee);
}

#signUpBtn {
    background-image: linear-gradient(to right, #a4dbf5, #7c91ee);
    transition: background-image 0.25s linear 0.25s;
    cursor: pointer;
}

#signUpBtn:hover {
    background-image: linear-gradient(to right, #ccf5f5, #8feeee);
}

.loginContainer {
    width: 70%;
    height: 35%;
    margin-top: 30%;
    margin-left: 10%
}

.schedule {
    border: 2px solid #8aee7c;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    border-top-right-radius: 27px;
    border-bottom-right-radius: 27px;
    border-top-left-radius: 27px;
    border-bottom-left-radius: 27px;
    text-align: center;
    cursor: grab;
}

.activeSchedule{
    transition: transform 0.2s ease;
    transform: translateY(15%);
}

.addSchedule {
    border: 2px solid #65e954;
    margin: 10px;
    width: 20%;
    border-top-right-radius: 27px;
    border-bottom-right-radius: 27px;
    border-top-left-radius: 27px;
    border-bottom-left-radius: 27px;
    color: #65e954;
    background-color: white;
    font-size: 2rem;
    cursor: pointer;
}

.dropBox{
    border: 2px solid yellow;
    width: 100%;
    height: 50px;
    transition: transform 1s ease 0.3s;
    transform: scaleY(1);
}

.growDropBox{
    transition: transform 1s ease 0.3s;
    transform-origin: 100% 0 0 scaleY(2);
}

.activeTrashCan{
    transform: scale(1.2);
}