html, body {
    margin: 0%; padding: 0px;
    height: 100%;
    background: #00d2ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header {
    width: 940px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
header > h1 {
    text-align: center;
    color: #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

nav {
    width: 940px;
    margin: 0 auto;
    padding: 0;
    height: 30px;
    overflow: hidden;
}

nav #btn-logout {
    float: right;
    line-height: 30px;
    border-radius: 10px;
    border: none;
    background-color: rgb(243, 238, 235);
}

#board-box {
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
}

.column-box {
    float: left;
    width: 280px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(243, 238, 235);
}

.card-ul {
    list-style: none;
    padding-left: 0px;
}
.card-li {
    overflow: hidden;
    margin-bottom: 10px;
    padding-left: 10px;
    border-radius: 5px;
    background-color: white;
}
.card-input {
    width: 215px;
    float: left;
    border: none;
}

.card-input:focus {
    outline: none;
}

.delete-btn {
    float: right;
    background-color: #ffffff;
    visibility: hidden;
}

.add-link {
    width: 270px;
    color: black;
    display: block;
    text-align: center;
    text-decoration: none;
}
.add-card-btn:hover {
    text-decoration: underline;
}

.add-form-textarea {
    width: 270px;
}
.add-form-btns {
    float: right;
}