@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

* { 
  margin: 0; 
  padding: 0; 
  border: 0;
}

.clear { 
  clear:both; 
} 

.right { 
  float: right; 
} 

.left { 
  float: left; 
}

h1 { 
    font-size: 2.2em; 
} 

h2 { 
    font-size: 2.0em;     
} 

h3 { 
    font-size: 1.8em; 
} 

h4 { 
    font-size: 1.6em;     
} 

h5 { 
    font-size: 1.4em;     
} 

p { 
    font-size: 1.2em;     
}

.background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-image: url(/public/programming.jpeg);
  z-index: -1;
}

.surface {
  height: 100%;
}

.header-flex-container {
  display: flex;
  justify-content: center;
}

.header {
  position: fixed;
  top: 0;
  display: block;
  width: 100%;
  border-radius: 1px;
  text-align: center;
  font-size: 48px;
  font-family: 'Lobster', cursive;
}

.shadow-header {
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  border: 1px solid silver;
  border-radius: 1px;
  text-align: center;
  font-size: 48px;
  visibility: hidden;
  top: 0;
}


#stage {
  padding: 12px;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  width:100%;
}

.todo-column {
  margin: 0 12px 0 12px;
  flex: 0 0 20em;
  align-self: flex-start;
}

#add-todo-btn {
  width: 100% !important;
}

.todolist-container {
  border-radius: 4px;
  padding: 8px;
  box-shadow: 1px 1px #b4b4b4;
}

.todolist-header {
  font-size: 24px;
  padding: 0 12px;
}

.todo-item {
  margin: 8px !important;
  border-radius: 2px;
}

.collection {
  border: 0px !important;
  min-height: 20px;
  margin-bottom: 0 !important;
}

.todolist-footer {
  padding: 20px 0 5px;
  margin: 0 9.5px;
  text-align: center;
}

.add-card {
  background-color: transparent;
  width: 100%;
  padding: 4px;
}

.add-card-form{
  padding: 0 15px;
}

.new-card-name:-ms-input-placeholder {
  color: #616161;
  font-size: 12px;
}

.new-card-name::-ms-input-placeholder {
  color: #616161;
  font-size: 12px;
}

.new-card-name::placeholder {
  color: #616161;
  font-size: 12px;
}

.hide-element {
  transition: opacity 1s ease-out;
  opacity: 0; 
  display: none;
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

.dragElem {
  opacity: 0.4;
}

.over {
  //border: 2px dashed #000;
  border-top: 2px solid blue;
}
