@import url('https://fonts.googleapis.com/css?family=Gothic+A1|Lobster&display=swap');

* { 
  margin: 0; 
  padding: 0; 
  border: 0;
  font-family: 'Gothic A1', sans-serif;
}

.clear { 
  clear:both; 
} 

.right { 
  float: right; 
} 

.left { 
  float: left; 
}

h1 { 
  font-size: 2.2em; 
  font-family: 'Lobster', sans-serif;
} 

h2 { 
  font-size: 2.0em;     
} 

h3 { 
  font-size: 1.8em; 
} 

h4 { 
  font-size: 1.6em;     
} 

h5 { 
  font-size: 1.4em;     
} 

p { 
  font-size: 1.2em;     
}

html, body{
  width: 100%;
  height: 100%;
}

.background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-image: url(/public/programming.jpeg);
  background-size: cover;
  z-index: -1;
}

.surface {
  width: 100%;
  height: 100%;
  position: relative;
}

#login-form {
  position: absolute;
  width: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  border: 1px solid #EEE;
}

.form-element {
  width: 300px !important; 
}