<!DOCTYPE html>
<html>
  <head>
    <title>Indian Poker</title>
    <meta charset="utf-8">
  </head>
  <body>
    <% if (success) { %>
      <p><%= success %></p>
    <% } %>
    <h1>Indian Poker</h1>
    <h3>로그인</h3>
    <form action="/session" method="post">
      <label for="input">username</label>
      <input type="text" name="username">
      <label for="password">password</label>
      <input type="password" name="password">
      <button type="submit" value="sumbit">login</button>
    </form>

    <a href="/signIn">회원가입</a>
    
    <footer>

    </footer>
  </body>
</html>